<div class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-800">
  <div class="w-full max-w-md mx-10 p-6 my-28 rounded-lg shadow-xl bg-white dark:bg-slate-700 border border-gray-300 dark:border-gray-600">
    <div class="w-full space-y-8">
      <!-- Título -->
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-stone-50">
          Iniciar Sesión
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          O
          <a routerLink="/auth/registro" class="font-medium text-indigo-600 dark:text-indigo-400 hover:text-indigo-500">
            regístrate si aún no tienes una cuenta
          </a>
        </p>
      </div>

      @if (loading) {
        <div class="flex justify-center items-center space-x-4">
          <div class="footprint"></div>
          <div class="footprint"></div>
        </div>
      }

      <!-- Formulario -->
      <form class="mt-8 space-y-6" [formGroup]="loginForm" (ngSubmit)="login()">
        <input type="hidden" name="remember" value="true" />
        <div class="space-y-1">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo Electrónico</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              autocomplete="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="ejemplo@gmail.com"
            />
            <small
              *ngIf="this.loginForm.get('email')?.hasError('mail') && this.loginForm.get('email')?.touched"
              class="text-red-700 dark:text-red-400"
            >
              *ingrese un email válido
            </small>
            <small
              *ngIf="this.loginForm.get('email')?.hasError('required') && this.loginForm.get('email')?.touched"
              class="text-red-700 dark:text-red-400"
            >
              *requerido
            </small>
          </div>
          <div>
            <label for="clave" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
            <input
              type="password"
              id="clave"
              formControlName="clave"
              autocomplete="current-password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="******"
            />
            <small
              class="text-red-500"
              *ngIf="loginForm.get('clave')?.invalid && loginForm.get('clave')?.touched"
            >
              *requerido
            </small>
          </div>
          <small *ngIf="loginForm" class="text-red-500"> {{ loginMsg }} </small>
        </div>

        <div>
          <button
            type="submit"
            [disabled]="loading"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-lime-600 dark:bg-blue-600 hover:bg-lime-500 dark:hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
        
            <span>Iniciar Sesión</span>
          </button>
        </div>
        <div class="text-center">
          <a
            routerLink="/auth/forgot"
            class="font-medium text-indigo-600 dark:text-indigo-400 hover:text-indigo-500"
            >¿Olvidaste tu contraseña?</a
          >
        </div>
      </form>
    </div>
  </div>
</div>