<section
  class="min-h-screen py-5 px-3 md:px-5 lg:px-6 xl:px-3 bg-gray-100 dark:bg-gray-800"
>
  <div class="max-w-7xl mx-auto space-y-8">
    <h1 class="text-4xl font-bold text-center text-[var(--color-3)] mb-8">
      Mis Mascotas
    </h1>

    <!-- Tabla -->
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div
        class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        id="table-search"
        [(ngModel)]="filtro.nombre"
        (input)="onFiltroChange()"
        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Buscar Mascota"
      />
    </div>
    @if (!mascotasService.loading()) {
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Nombre</th>
            <th scope="col" class="px-6 py-3">Especie</th>
            <th scope="col" class="px-6 py-3">Raza</th>
            <th scope="col" class="px-6 py-3">Edad</th>
            <th scope="col" class="px-6 py-3">Estado</th>
            <th scope="col" class="px-6 py-3">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="!mascotasService.loading(); else loadingRow">
            @for(mascota of mascotasService.mascotasRefugio();track mascota.id){
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap"
              >
                {{ mascota.nombre }}
              </th>
              <td class="px-6 py-4">{{ mascota.especie }}</td>
              <td class="px-6 py-4">{{ mascota.raza }}</td>
              <td class="px-6 py-4">{{ mascota.edad }}</td>
              <td class="px-6 py-4">
                <span
                  class="px-2 py-1 text-xs font-medium rounded-lg capitalize"
                  [ngClass]="{
                    'bg-green-100 text-green-800':
                      mascota.estado === 'adoptado',
                    'bg-yellow-100 text-yellow-800':
                      mascota.estado === 'disponible',
                    'bg-red-100 text-red-800': mascota.estado === 'pendiente'
                  }"
                >
                  {{ mascota.estado }}
                </span>
              </td>
              <td class="px-6 py-4 flex space-x-2">
                <button (click)="verDetallesMascota(mascota.id)">
                  <svg class="w-6 h-6 text-blue-500 hover:text-blue-700 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7z"></path>
                  </svg>
                </button>

                <button (click)="mostrarQR(mascota)">
                  <svg class="w-6 h-6 text-green-500 hover:text-green-700 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v1m6 11h1m-6 0h-1m4-6v1m-6-1v1m-6 4h1m4-6h1m-4 0h-1m4 6v1m-6-1v1m6-6h1m-6 0h-1"></path>
                  </svg>
                </button>

                <!-- <button
                  class="text-blue-600 hover:underline dark:text-blue-500 me-4"
                  (click)="editarMascota(mascota.id)"
                >
                <i class="ti ti-edit"></i> Editar <i class="ti ti-a-b-2"></i>
                </button> -->
                <button (click)="editarMascota(mascota.id)">
                  <svg class="w-6 h-6 text-yellow-500 hover:text-yellow-700 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                  </svg>
                </button>
                <!-- <button
                  class="text-red-600 hover:underline dark:text-red-500"
                  (click)="eliminarMascota(mascota.id)"
                >
                  Eliminar
                </button> -->
                <button (click)="eliminarMascota(mascota.id)">
                  <svg class="w-6 h-6 text-red-500 hover:text-red-700 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                  </svg>
                </button>
              </td>
            </tr>
            }
          </ng-container>
          <!-- Spinner Row -->
          <ng-template #loadingRow>
            <tr>
              <td colspan="6" class="text-center py-4">
                <div class="flex justify-center items-center space-x-2">
                  <div
                    class="animate-spin w-6 h-6 border-4 border-blue-500 border-t-transparent rounded-full"
                  ></div>
                  <span>Cargando datos...</span>
                </div>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
    <!-- Paginación -->
    <nav
      class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4"
      aria-label="Table navigation"
    >
      <span
        class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto"
      >
        Mostrando
        <span class="font-semibold text-gray-900 dark:text-white">
          {{ (currentPage() - 1) * 10 + 1 }}
        </span>
        a
        <span class="font-semibold text-gray-900 dark:text-white">
          {{ currentPage() * 10 }}
        </span>
        de
        <span class="font-semibold text-gray-900 dark:text-white">
          {{ currentPage() }}
        </span>
      </span>
      <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        <li>
          <button
            (click)="loadPage(currentPage() - 1)"
            [disabled]="currentPage() === 1"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            Anterior
          </button>
        </li>
        <li
          *ngFor="
            let page of [].constructor(mascotasService.totalPagesMR());
            let i = index
          "
        >
          <a
            class="flex cursor-pointer items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            [ngClass]="{
              'text-blue-600 border-blue-300 bg-blue-50 dark:bg-gray-700 dark:text-white':
                currentPage() === i + 1
            }"
            (click)="loadPage(i + 1)"
          >
            {{ i + 1 }}
          </a>
        </li>
        <li>
          <button
            (click)="loadPage(currentPage() + 1)"
            [disabled]="!mascotasService.mascotasRefugio()!.length"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            Siguiente
          </button>
        </li>
      </ul>
    </nav>
    }@else {
    <!-- Loading Spinner -->
    <div
      *ngIf="mascotasService.loading()"
      class="flex justify-center items-center min-h-[200px]"
    >
      <svg
        class="animate-spin h-8 w-8 text-blue-500"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8v8h8a8 8 0 01-8 8v-8H4z"
        ></path>
      </svg>
    </div>
    }
  </div>



  <div *ngIf="showQRPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-11/12 md:w-1/2 lg:w-1/3">
      <h2 class="text-xl font-bold text-gray-900 dark:text-white mb-4">Código QR de {{ selectedMascota?.nombre }}</h2>
      <div class="flex justify-center">
        <!-- Componente QRCode -->
        <qrcode
          [qrdata]="qrData"
          [width]="256"
          [errorCorrectionLevel]="'M'"
          elementType="canvas"
        ></qrcode>
      </div>
      <div class="mt-4 flex justify-end space-x-2">
        <!-- Botón para descargar el código QR -->
        <button
          (click)="downloadQR()"
          class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
        >
          Descargar
        </button>
        <!-- Botón para cerrar el popup -->
        <button
          (click)="closeQRPopup()"
          class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</section>