<!--[class.fixed]="isNavFixed"-->
<header class="bg-[var(--color-4)] py-4">
  <nav class="mx-auto flex justify-between items-center w-[95%]">

    <div class="flex items-center text-2xl font-semibold">
      <a routerLink="/" class="flex items-center">
        <span class=""><img src="../../../assets/logos/logo.png" alt=""></span>
        <span class="text-[var(--color-5)] hidden sm:inline ">Huellas</span>
        <span class="text-[var(--color-3)] hidden sm:inline">Solidarias</span>
      </a>
    </div>

    <div
      class="nav-links bg-[var(--color-4)] md:static absolute md:min-h-fit min-h-[30vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5 z-10">
      <ul class="flex md:flex-row flex-col  md:items-center md:gap-[4vw] gap-6">
        <li>
          <button class="p-2 rounded-lg hover:bg-[var(--color-1)]" routerLink="/mascotas/listar">Adopta</button>

        </li>
        <li>
          <button class="p-2 rounded-lg hover:bg-[var(--color-1)]" routerLink="/mascotas/mascota-perdida">Mascotas perdidas</button>
        </li>
        <li>
          <button class="p-2 rounded-lg hover:bg-[var(--color-1)]" routerLink="/quienes-somos">Nosotros</button>
        </li>
      </ul>
    </div>

    <div class="flex items-center gap-5">
      @if (!estaLogead()) {
      <a class="mx-3" routerLink="/auth/registro">Registrarse</a>
      <a class="ml-3" routerLink="/auth/login">Iniciar sesión</a>
      } @else {
      <button (click)="toggleMenu()">
        <img src="https://generated.vusercontent.net/placeholder-user.jpg" alt=""> </button>
      <div *ngIf="menuOpen" class="absolute  right-6  rounded bg-[var(--color-4)] top-[10.3%] ">
        <ul class="py-2 text-sm">
          <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Perfil</li>
          <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Configuración</li>
          <hr>
          @if (rol() === 'refugio') {
          <li routerLink="/mascotas/mis-mascotas" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Mis Mascotas</li>
          <li routerLink="/mascotas/agregar" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Agregar Mascota</li>
          }@else {
          <li routerLink="/mascotas/mascota-perdida" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Mascota Perdida</li>
          }

          <hr>
          <li (click)="logout()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Cerrar sesión</li>
        </ul>
      </div>
      }
    </div>

    <button class="sm:hidden" (click)="onToggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current icon icon-tabler icon-tabler-menu-2"
        width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </button>

  </nav>
</header>
