<nav [class.fixed]="isNavFixed" class="nav py-4 bg-color4">
  <div class="container mx-auto flex justify-between items-center ">
    <a routerLink="/" class="text-2xl font-semibold mx-5">
      <div class="flex items-center">
        <span><img src="../../../assets/logos/logo.png" alt=""></span>
        <span class="text-color5">Huellas</span>
        <span class="text-color3">Solidarias</span>
      </div>

    </a>
    <ul class=" flex space-x-4 mx-5 items-center">
      <li><a routerLink="/quienes-somos" class="hover:text-gray-300">¿Quiénes somos?</a></li>
      <li><a routerLink="/mascotas/listar" class="hover:text-gray-300">Adopta</a></li>
      <ng-container *ngIf="!estaLogead()">
        <li><a [routerLink]="['/auth/login']" class="hover:text-gray-300">Iniciar sesión</a></li>

        <li>
          <button [routerLink]="['/auth/registro']"
            class="button-custom hover:bg-blue-700 text-white font-bold py-2 px-4">
            Registrarse
          </button>

        </li>

      </ng-container>
      <li *ngIf="estaLogead()">
        <button (click)="logout()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4">
          Cerrar sesión
        </button>
      </li>


    </ul>
  </div>

</nav>
