<div class="min-h-screen mx-auto px-4 py-8 bg-[#F9FAFB] dark:bg-[#2E3440]">
  <div
    class="border dark:bg-[#3B4252] shadow-xl rounded-lg overflow-hidden max-w-4xl mx-auto"
  >
    <!-- Skeleton Loader -->
    <div
      *ngIf="!mascota(); else contentLoaded"
      class="relative animate-pulse space-y-4 p-8"
    >
      <!-- Spinner centrado -->
      <div class="absolute inset-0 flex items-center justify-center">
        <div
          class="w-12 h-12 border-4 border-gray-300 dark:border-gray-600 border-t-transparent rounded-full animate-spin"
        ></div>
      </div>

      <!-- Bloques de carga -->
      <div class="h-48 w-full bg-gray-300 dark:bg-gray-700 rounded-md"></div>
      <div class="h-6 w-3/4 bg-gray-300 dark:bg-gray-700 rounded-md"></div>
      <div class="h-4 w-1/2 bg-gray-300 dark:bg-gray-700 rounded-md"></div>
      <div class="grid grid-cols-2 gap-4 mt-4">
        <div class="h-6 w-full bg-gray-300 dark:bg-gray-700 rounded-md"></div>
        <div class="h-6 w-full bg-gray-300 dark:bg-gray-700 rounded-md"></div>
      </div>
    </div>

    <ng-template #contentLoaded>
      <div class="md:flex">
        <div class="md:flex-shrink-0">
          <img
            class="h-48 w-full aspect-square object-contain rounded-t-md block m-auto md:w-48"
            [src]="mascota()?.Storage?.url"
            [alt]="mascota()?.nombre"
            loading="lazy"
          />
        </div>
        <div class="p-8">
          <div
            class="uppercase tracking-wide text-sm text-lime-600 dark:text-blue-300 font-semibold"
          >
            {{ mascota()?.raza }}
          </div>
          <h1 class="mt-1 text-3xl font-bold text-gray-900 dark:text-white">
            {{ mascota()?.nombre }}
          </h1>
          <p class="mt-2 text-gray-400">{{ mascota()?.historia }}</p>
        </div>
      </div>
      <div class="px-8 py-4 bg-gray-100 dark:bg-[#2E3440]">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="text-sm font-medium text-gray-400">Sexo</p>
            <p class="mt-1 text-sm text-gray-900 dark:text-white">
              {{ mascota()?.sexo }}
            </p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-400">Edad</p>
            <p class="mt-1 text-sm text-gray-900 dark:text-white">
              {{ mascota()?.edad }}
            </p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-400">Tamaño</p>
            <p class="mt-1 text-sm text-gray-900 dark:text-white">
              {{ mascota()?.tamano }}
            </p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-400">Esterilizado</p>
            <p class="mt-1 text-sm text-gray-900 dark:text-white">
              {{ mascota()?.esEsterilizado ? "Sí" : "No" }}
            </p>
          </div>
        </div>
      </div>
      <div class="px-8 py-4">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white">
          Características
        </h2>
        <p class="mt-2 text-gray-400">{{ mascota()?.caracteristica }}</p>
      </div>
      <div class="px-8 py-4">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white">
          Condición
        </h2>
        <p class="mt-2 text-gray-400">
          {{ mascota()?.condicion || "Sin condición médica" }}
        </p>
      </div>
    </ng-template>
    <div class="px-8 py-4">
      <button
        (click)="solicitarAdopcion(mascota()!.id)"
        [disabled]="cargando === true"
        class="w-full inline-flex items-center justify-center whitespace-nowrap text-sm font-medium py-2 px-4 rounded-md bg-lime-600 dark:bg-blue-300 hover:bg-blue-300 dark:hover:bg-lime-600 text-white transition duration-300"
      >
        @if (cargando === true) {
        <div class="mr-4" role="status">
          <svg
            aria-hidden="true"
            class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"
            />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
        }
        <span> Enviar Solicitud </span>
      </button>
    </div>
  </div>
</div>
