<div class="min-h-screen bg-gray-100 dark:bg-gray-900 py-10 px-4 sm:px-6 lg:px-8 bg-[url('/assets/huellitas.svg')] bg-repeat bg-opacity-10">
  <div class="max-w-4xl mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-2xl overflow-hidden transform transition-all duration-300 hover:shadow-3xl">
    <!-- Imagen de la mascota -->
    <div class="relative h-64 sm:h-80 md:h-96 cursor-pointer group" (click)="expandImage(mascota.Storage.url)">
      <img
        [src]="mascota.Storage?.url || '../assets/images/defaultImage.png'"
        [alt]="mascota.nombre"
        class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
      />
      <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-10 transition-all duration-300"></div>
      <div class="absolute bottom-4 left-4 bg-white dark:bg-gray-700 px-3 py-1 rounded-full text-sm text-gray-800 dark:text-white">
        📸 Haz clic para ampliar
      </div>
    </div>

    <!-- Detalles de la mascota -->
    <div class="p-6">
      <h1 class="text-4xl font-bold text-gray-900 dark:text-white mb-6">
        {{ mascota.nombre }}
      </h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 text-gray-700 dark:text-gray-300">
        <!-- Especie y raza -->
        <div class="bg-gray-50 dark:bg-gray-700 p-4 rounded-lg">
          <span class="font-semibold">Especie:</span> <span class="capitalize">{{ mascota.especie.nombre }}</span>
        </div>
        <div class="bg-gray-50 dark:bg-gray-700 p-4 rounded-lg">
          <span class="font-semibold">Raza:</span> {{ mascota.raza.nombre }}
        </div>

        <!-- Edad y sexo -->
        <div class="bg-gray-50 dark:bg-gray-700 p-4 rounded-lg">
          <span class="font-semibold">Edad:</span> {{ mascota.edad }}
        </div>
        <div class="bg-gray-50 dark:bg-gray-700 p-4 rounded-lg">
          <span class="font-semibold">Sexo:</span> <span class="capitalize">{{ mascota.sexo }}</span>
        </div>

        <!-- Tamaño y estado -->
        <div class="bg-gray-50 dark:bg-gray-700 p-4 rounded-lg">
          <span class="font-semibold">Tamaño:</span> <span class="capitalize">{{ mascota.tamano }}</span>
        </div>
        <div class="bg-gray-50 dark:bg-gray-700 p-4 rounded-lg">
          <span class="font-semibold capitalize">Estado:</span>
          <span
            class="px-2 py-1 text-xs font-medium rounded-lg capitalize flex items-center gap-2"
            [ngClass]="{
              'bg-green-100 text-green-800': mascota.estado === 'seguro',
              'bg-red-100 text-red-800': mascota.estado === 'perdido',
              'bg-blue-100 text-blue-800': mascota.estado === 'encontrada',
              'bg-purple-100 text-purple-800': mascota.estado === 'en tratamiento',
              'bg-yellow-100 text-yellow-800': mascota.estado === 'en paseo',
              'bg-gray-100 text-gray-800': mascota.estado === 'en refugio',
              'bg-black text-white': mascota.estado === 'fallecido'
            }"
          >
            <span *ngIf="mascota.estado === 'seguro'">✅</span>
            <span *ngIf="mascota.estado === 'perdido'">🚨</span>
            <span *ngIf="mascota.estado === 'encontrada'">🔍</span>
            <span *ngIf="mascota.estado === 'en tratamiento'">🏥</span>
            <span *ngIf="mascota.estado === 'en paseo'">🐕</span>
            <span *ngIf="mascota.estado === 'en refugio'">🏡</span>
            <span *ngIf="mascota.estado === 'fallecido'">🌈</span>
            
            {{ mascota.estado }}
          </span>
        </div>
      </div>

      <!-- Descripción -->
      <div class="mt-8">
        <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Descripción</h2>
        <p class="text-gray-700 dark:text-gray-300 leading-relaxed">{{ mascota.descripcion }}</p>
      </div>
    </div>

    <!-- Datos de contacto del usuario -->
    <div *ngIf="mascota.estado ==='perdido' || mascota.estado === 'encontrada'" class="bg-gray-50 dark:bg-gray-700 p-6">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Contacto</h2>
      <div class="space-y-4 text-gray-700 dark:text-gray-300">
        <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-sm">
          <span class="font-semibold">Nombre:</span> {{ mascota.Usuario.nombres }} {{ mascota.Usuario.apellidos }}
        </div>
        <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-sm">
          <span class="font-semibold">Celular:</span> {{ mascota.Usuario.celular }}
        </div>
        <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-sm">
          <span class="font-semibold">Email:</span> {{ mascota.Usuario.email }}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para la imagen expandida -->
  <div *ngIf="isImageExpanded" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-75" (click)="closeExpandedImage()">
    <img
      [src]="expandedImageUrl"
      alt="Imagen expandida"
      class="max-w-full max-h-full object-contain"
    />
  </div>
</div>

<app-confirmar-ubicacion-encontrada
  *ngIf="showConfirmLocationDialog"
  [mascotaNombre]="mascota.nombre"
  (confirm)="onConfirmLocation($event)"
  (cancel)="closeConfirmLocationDialog()"
></app-confirmar-ubicacion-encontrada>
