<div class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-800">
    <div class="bg-gray-100 dark:bg-gray-800 p-8 rounded-lg shadow-md text-center">
      <h2 class="text-2xl font-bold text-green-600 mb-4">¡Verificación exitosa!</h2>
      <p class="text-gray-700 dark:text-gray-50 mb-6">Tu correo electrónico ha sido verificado correctamente.</p>
      <button routerLink="/auth/login" class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 focus:bg-green-700 focus:ring-0 active:bg-green-800 transition duration-150 ease-in-out">
        Ir al Login
      </button>
    </div>
  </div>