<section class="py-5 px-3 md:px-5 lg:px-6 xl:px-3">
  <div class="max-w-7xl mx-auto space-y-8">
    <h1 class="text-2xl font-bold mb-6">Mis Mascotas</h1>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
      @for (mascota of mascotas() ; track $index) {
      <li class="card flex flex-col h-full p-3"> 
        <img [srcset]="mascota.Storage.url" [alt]="mascota.nombre" class="w-full h-auto object-contain card img">
        <div class="card-body">
          <h3 class="card-title" (click)="verDetallesMascota(mascota.id)" style="cursor: pointer;">{{ mascota.nombre }}</h3>
          <p class="card-text">{{ mascota.raza || 'Raza no especificada' }}</p>
        </div>
        <div class="flex items-center justify-center space-x-2 mt-auto">
          <button (click)="editarMascota(mascota.id)" class="btn-primary">
            Editar
          </button>
          <button (click)="eliminarMascota(mascota.id)" class="btn-primary">
            Eliminar
          </button>
        </div>
      </li>
      } @empty {
      <li>No hay mascotas disponibles.</li>
      }
    </ul>
  </div>
</section>
