<div
  class="bg-gray-100 dark:bg-gray-800 min-h-screen py-8 px-4 sm:px-4 lg:px-8"
>
  <div class="max-w-7xl mx-auto">
    <h1
      class="text-xl font-bold text-center text-gray-900 dark:text-stone-50 mb-7"
    >
      Mascotas en Adopción
    </h1>

    <!-- Filtros en la parte superior (solo en móviles/tablets) -->
    <div
      class="w-full bg-white dark:bg-slate-700 border border-gray-300 dark:border-gray-600 p-4 rounded-lg shadow-lg sm:hidden"
    >
      <h2 class="text-xl font-semibold mb-4 text-gray-900 dark:text-stone-50">
        Búsqueda
      </h2>
      <div class="grid gap-4">
        <input
          type="text"
          [(ngModel)]="filtro.nombre"
          (input)="onFiltroChange()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Buscar Nombre"
          maxlength="20"
        />

        <select
          [(ngModel)]="filtro.edad"
          (change)="onFiltroChange()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="">Todas las Edades</option>
          @for (age of ages; track $index) {
          <option [value]="age">{{ age }}</option>
          }
        </select>

        <select
          [(ngModel)]="filtro.tamano"
          (change)="onFiltroChange()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="">Todos los Tamaños</option>
          @for (size of sizes; track $index) {
          <option [value]="size">{{ size }}</option>
          }
        </select>

        <select
          [(ngModel)]="filtro.raza"
          (change)="onFiltroChange()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="">Todas las Razas</option>
          <option *ngFor="let breed of breeds" [value]="breed">
            {{ breed }}
          </option>
        </select>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row gap-6 mt-6">
      <!-- Mascotas -->
      <div
        class="w-full sm:w-3/4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6"
      >
        @if(!mascotasService.loading() && mascotasService.mascotas().length >
        0){ @for (mascota of mascotasService.mascotas() ; track mascota.id) {
        <div
          class="bg-white dark:bg-slate-700 border border-gray-300 dark:border-gray-600 rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105 hover:shadow-xl"
        >
        <div class="relative">
          <img
            [src]="mascota.Storage.url"
            [alt]="mascota.nombre"
            class="w-full h-48 object-cover rounded-t-lg"
          />
          <img
            [src]="
              mascota.refugio.Storage?.url ||
              '../../../../assets/default-image.webp'
            "
            alt="Refugio logo"
            [routerLink]="['/refugio/perfil', mascota.idRefugio]"
            class="absolute bottom-2 right-2 w-12 h-12 rounded-full border border-[#DDBEA9] bg-white dark:bg-slate-800 p-1 cursor-pointer transition-transform transform hover:scale-110"
          />
        </div>
          <div class="p-4">
            <h2
              class="text-xl font-bold text-gray-900 dark:text-stone-50 truncate"
            >
              {{ mascota.nombre }}
            </h2>
            <p
              class="text-sm text-gray-600 dark:text-gray-300 mt-2 line-clamp-3"
            >
              {{ mascota.historia }}
            </p>
            <div class="flex flex-wrap gap-2 mt-4">
              <span
                class="flex items-center gap-1 px-3 py-1 bg-[#A8DADC] text-[#1D3557] text-xs font-semibold rounded-full shadow-md"
              >
                📏 {{ mascota.tamano }}
              </span>
              <span
                class="flex items-center gap-1 px-3 py-1 bg-[#F4A261] text-[#1D3557] text-xs font-semibold rounded-full shadow-md"
              >
                🐾 {{ mascota.raza }}
              </span>
              <span
                class="flex items-center gap-1 px-3 py-1 bg-[#2A9D8F] text-[#1D3557] text-xs font-semibold rounded-full shadow-md"
              >
                🕒 {{ mascota.edad }}
              </span>
            </div>
            <button
              [routerLink]="['/mascotas/detalle', mascota.id]"
              class="w-full bg-lime-700 dark:bg-blue-600 text-white py-2 px-4 rounded-md mt-4 hover:bg-lime-600 dark:hover:bg-blue-400 transition-colors"
            >
              Más detalles
            </button>
          </div>
        </div>
        } } @else if (mascotasService.loading() &&
        mascotasService.mascotas().length === 0) {
        <div
          class="col-span-6 sm:col-span-2 lg:col-span-4 flex items-center justify-center p-8 bg-gray-50 dark:bg-gray-700 rounded-lg"
        >
          <div
            class="animate-spin w-6 h-6 border-4 border-blue-500 border-t-transparent rounded-full"
          ></div>
          <span>Cargando datos...</span>
        </div>
        } @else {
        <div
          class="col-span-1 sm:col-span-2 lg:col-span-4 flex items-center justify-center p-8 bg-gray-50 dark:bg-gray-700 rounded-lg"
        >
          <h3 class="text-xl font-semibold text-gray-800 dark:text-stone-50">
            No se encontraron resultados...
          </h3>
        </div>
        }
      </div>

      <!-- Filtros en la parte lateral (solo en pantallas grandes) -->
      <div
        class="hidden w-full max-h-96 sm:block sm:w-1/4 bg-white dark:bg-slate-700 border border-gray-300 dark:border-gray-600 p-6 rounded-lg shadow-lg"
      >
        <h2 class="text-xl font-semibold mb-4 text-gray-900 dark:text-stone-50">
          Búsqueda
        </h2>
        <div class="grid gap-4">
          <input
            type="text"
            [(ngModel)]="filtro.nombre"
            (input)="onFiltroChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Buscar Nombre"
            maxlength="20"
          />
          <!-- select example -->
          <select
            [(ngModel)]="filtro.edad"
            (change)="onFiltroChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option value="">Todas las Edades</option>
            @for (age of ages; track $index) {
            <option [value]="age">{{ age }}</option>

            }
          </select>
          <!--  -->
          <select
            [(ngModel)]="filtro.tamano"
            (change)="onFiltroChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option value="">Todos los Tamaños</option>
            @for (size of sizes; track $index) {
            <option [value]="size">{{ size }}</option>

            }
          </select>
          <select
            [(ngModel)]="filtro.raza"
            (change)="onFiltroChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option value="">Todas las Razas</option>
            <option *ngFor="let breed of breeds" [value]="breed">
              {{ breed }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!-- Paginación -->
    <div class="flex justify-center mt-6">
      <button
        (click)="loadPage(currentPage() - 1)"
        [disabled]="currentPage() === 1"
        class="bg-lime-700 dark:bg-blue-600 text-white py-2 px-4 hover:bg-lime-600 dark:hover:bg-blue-400 rounded-l-md"
      >
        Anterior
      </button>
      <span
        class="px-4 py-2 bg-[#F9FAFB] dark:bg-[#4C566A] text-gray-600 dark:text-gray-200"
      >
        Página {{ currentPage() }}
      </span>
      <button
        (click)="loadPage(currentPage() + 1)"
        [disabled]="!mascotasService.mascotas()!.length"
        class="bg-lime-700 dark:bg-blue-600 text-white py-2 px-4 hover:bg-lime-600 dark:hover:bg-blue-400 rounded-r-md"
      >
        Siguiente
      </button>
    </div>
  </div>
</div>
