<div
  class="bg-gray-100 dark:bg-gray-800 min-h-screen py-8 px-4 sm:px-4 lg:px-8"
>
  <div class="max-w-7xl mx-auto">
    <h1
      class="text-xl font-bold text-center text-gray-900 dark:text-stone-50 mb-7"
    >
      Mascotas en Adopción
    </h1>

    <div class="flex flex-col sm:flex-row gap-6">
      <!-- Mascotas -->
      <div
        class="w-full sm:w-3/4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6"
      >
        <div
          *ngFor="let mascota of mascotasService.mascotas()"
          class="bg-white dark:bg-slate-700 border border-gray-300 dark:border-gray-600 rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105 hover:shadow-xl"
        >
          <!-- Imagen de la mascota -->
          <div class="relative">
            <img
              [src]="mascota.Storage.url"
              [alt]="mascota.nombre"
              class="w-full h-48 object-cover rounded-t-lg"
            />
            <img
              [src]="
                mascota.refugio.Storage?.url ||
                '../../../../assets/default-image.webp'
              "
              alt="Refugio logo"
              [routerLink]="['/refugio/perfil', mascota.idRefugio]"
              class="absolute bottom-2 right-2 w-12 h-12 rounded-full border border-[#DDBEA9] bg-white dark:bg-slate-800 p-1 cursor-pointer transition-transform transform hover:scale-110"
            />
          </div>

          <!-- Contenido de la tarjeta -->
          <div class="p-4">
            <!-- Nombre de la mascota -->
            <h2
              class="text-xl font-bold text-gray-900 dark:text-stone-50 truncate"
            >
              {{ mascota.nombre }}
            </h2>

            <!-- Breve historia -->
            <p
              class="text-sm text-gray-600 dark:text-gray-300 mt-2 line-clamp-3"
            >
              {{ mascota.historia }}
            </p>

            <!-- Etiquetas de información -->
            <div class="flex flex-wrap gap-2 mt-4">
              <span
                class="flex items-center gap-1 px-3 py-1 bg-[#A8DADC] text-[#1D3557] text-xs font-semibold rounded-full shadow-md"
              >
                📏 {{ mascota.tamano }}
              </span>
              <span
                class="flex items-center gap-1 px-3 py-1 bg-[#F4A261] text-[#1D3557] text-xs font-semibold rounded-full shadow-md"
              >
                🐾 {{ mascota.raza }}
              </span>
              <span
                class="flex items-center gap-1 px-3 py-1 bg-[#2A9D8F] text-[#1D3557] text-xs font-semibold rounded-full shadow-md"
              >
                🕒 {{ mascota.edad }}
              </span>
            </div>

            <!-- Botón de adopción -->
            <button
              [routerLink]="['/mascotas/detalle', mascota.id]"
              class="w-full bg-lime-700 dark:bg-blue-600 text-white py-2 px-4 rounded-md mt-4 hover:bg-lime-600 dark:hover:bg-blue-400 transition-colors"
            >
              <!-- Adoptar a {{ mascota.nombre }} -->
              Más detalles
            </button>
          </div>
        </div>
      </div>

      <!-- filtros -->
      <div
        class="w-full max-h-96 sm:w-1/4 bg-white dark:bg-slate-700 border border-gray-300 dark:border-gray-600 p-6 rounded-lg shadow-lg"
      >
        <h2
          class="text-xl font-semibold mb-4 text-gray-900 dark:text-stone-50"
        >
          Búsqueda
        </h2>
        <div class="grid gap-4">
          <input
            type="text"
            [(ngModel)]="filtro.nombre"
            (input)="onFiltroChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Buscar Nombre"
            maxlength="20"
          />
          <!-- select example -->
          <select
            [(ngModel)]="filtro.edad"
            (change)="onFiltroChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option value="">Todas las Edades</option>
            @for (age of ages; track $index) {
            <option [value]="age">{{ age }}</option>

            }
          </select>
          <!--  -->
          <select
          [(ngModel)]="filtro.tamano"
          (change)="onFiltroChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
          <option value="">Todos los Tamaños</option>
          @for (size of sizes; track $index) {
          <option [value]="size">{{ size }}</option>

          }
          </select>
          <select
          [(ngModel)]="filtro.raza"
          (change)="onFiltroChange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
          <option value="">Todas las Razas</option>
          <option *ngFor="let breed of breeds" [value]="breed">
            {{ breed }}
          </option>
          </select><!-- 
          <select
            class="w-full px-3 py-2 text-[#5C492C] dark:text-[#DDBEA9] border border-[#DDBEA9] rounded-md focus:outline-none focus:ring-2 focus:ring-[#88C0D0] bg-[#F9FAFB] dark:bg-[#4C566A]"
          >
            <option value="">Todas las ubicaciones</option>
            @for (location of locations; track $index) {
            <option [value]="location">{{ location }}</option>

            }
          </select> -->
        </div>
      </div>
    </div>

    <!-- Paginación -->
    <div class="flex justify-center mt-6">
      <button
        (click)="loadPage(currentPage() - 1)"
        [disabled]="currentPage() === 1"
        class="bg-lime-700 dark:bg-blue-600 text-white py-2 px-4 hover:bg-lime-600 dark:hover:bg-blue-400 rounded-l-md"
      >
        Anterior
      </button>
      <span
        class="px-4 py-2 bg-[#F9FAFB] dark:bg-[#4C566A] text-gray-600 dark:text-gray-200"
      >
        Página {{ currentPage() }}
      </span>
      <button
        (click)="loadPage(currentPage() + 1)"
        [disabled]="!mascotasService.mascotas()!.length"
        class="bg-lime-700 dark:bg-blue-600 text-white py-2 px-4 hover:bg-lime-600 dark:hover:bg-blue-400 rounded-r-md"
      >
        Siguiente
      </button>
    </div>
  </div>
</div>
<!-- <div class="bg-[#F9FAFB] dark:bg-[#2E3440] min-h-screen py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-4xl font-bold text-center text-[#5C492C] dark:text-[#DDBEA9] mb-8">Galería de Mascotas en Adopción</h1>

    <div class="bg-white dark:bg-[#3B4252] border border-[#DDBEA9] p-6 rounded-lg shadow-lg mb-8">
      <h2 class="text-2xl font-semibold mb-4 text-[#5C492C] dark:text-[#DDBEA9]">Filtrar Mascotas</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
        <input type="text" [(ngModel)]="filtro.nombre" (input)="onFiltroChange()" placeholder="Buscar por nombre"
          class="w-full px-3 py-2 border border-[#DDBEA9] rounded-md focus:outline-none focus:ring-2 focus:ring-[#88C0D0] dark:text-gray-100 bg-[#F9FAFB] dark:bg-[#4C566A] dark:placeholder-gray-400">

        <select [(ngModel)]="filtro.edad" (change)="onFiltroChange()"
          class="w-full px-3 py-2 text-[#5C492C] dark:text-[#DDBEA9] border border-[#DDBEA9] rounded-md focus:outline-none focus:ring-2 focus:ring-[#88C0D0] bg-[#F9FAFB] dark:bg-[#4C566A]">
          <option value="">Todas las edades</option>
          @for (age of ages; track $index) {
          <option [value]="age">{{age}}</option>

          }
        </select>
        <select [(ngModel)]="filtro.tamano" (change)="onFiltroChange()"
          class="w-full px-3 py-2  border border-[#DDBEA9] rounded-md focus:outline-none focus:ring-2 focus:ring-[#88C0D0] bg-[#F9FAFB] dark:bg-[#4C566A] text-[#5C492C] dark:text-[#DDBEA9]">
          <option value="">Todos los tamaños</option>
          @for (size of sizes; track $index) {
          <option [value]="size">{{size}}</option>

          }
        </select>
        <select [(ngModel)]="filtro.raza" (change)="onFiltroChange()"
          class="w-full px-3 py-2 text-[#5C492C] dark:text-[#DDBEA9] border border-[#DDBEA9] rounded-md focus:outline-none focus:ring-2 focus:ring-[#88C0D0] bg-[#F9FAFB] dark:bg-[#4C566A]">
          <option value="">Todas las razas</option>
          <option *ngFor="let breed of breeds" [value]="breed">{{breed}}</option>
        </select>

        <select
          class="w-full px-3 py-2 text-[#5C492C] dark:text-[#DDBEA9] border border-[#DDBEA9] rounded-md focus:outline-none focus:ring-2 focus:ring-[#88C0D0] bg-[#F9FAFB] dark:bg-[#4C566A]">
          <option value="">Todas las ubicaciones</option>
          @for (location of locations; track $index) {
          <option [value]="location">{{location}}</option>

          }
        </select>
      </div>
    </div>

    
</div>

 -->
