@import 'ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

  --color-1: #c7a26b;
  --color-2: #d5c3ab;
  --color-3: #d89e4b;
  --color-4: #d5b991;
  --color-5: #372b14;
  --color-6: #ece3d4;
  --color-7: #e6d5bc;
  --color-8: #4a381d;
  --background: #ece3d4;

}

body{
  font-family: 'Space Mono', monospace;
  margin: 0;
  background-color: #f3f4f6;
}


