<div class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-800 w-full">
  <div class="bg-white dark:bg-[#3B4252] border border-[#DDBEA9] shadow-sm mx-auto max-w-4xl w-full sm:w-11/12 md:w-3/4 lg:w-2/3  p-10 sm:p-8 my-2">
    <div class="flex flex-col items-center gap-6">
      <div class="relative" data-id="3"><span
          class="relative flex shrink-0 overflow-hidden rounded-full h-24 w-24 border">
          <img class="aspect-square h-full w-full" alt="Pet Profile"
            [src]="avatarUrl || 'https://generated.vusercontent.net/placeholder-user.jpg'">
        </span>
        <button (click)="subirImagen()"
          class="absolute bottom-0 right-0 bg-[var(--color-4)] text-primary-foreground rounded-full p-3  focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2">

          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
            <polyline points="17 8 12 3 7 8"></polyline>
            <line x1="12" x2="12" y1="3" y2="15"></line>
          </svg>

          <span class="sr-only">Upload image</span>
        </button>
        <input type="file" #fileInput class="hidden" (change)="onFileSelected($event)" />
      </div>
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-[#5C492C] dark:text-[#DDBEA9] whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
          {{ isEditMode ? 'Edita tu mascota' : 'Registra tu mascota' }}
        </h3>
        <p class="text-[#5C492C] dark:text-[#DDBEA9] text-sm">
          {{ isEditMode ? 'Actualiza la información de tu mascota.' : 'Completa todo el formulario para agregar una nueva mascota' }}
        </p>
      </div>
    </div>

    <div class="p-6 grid gap-4">
      <form [formGroup]="mascotaForm">
        <div class="grid grid-cols-2 gap-4">
          <div class="grid gap-2">
            <label
              class="text-[#5C492C] dark:text-[#DDBEA9] text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="nombre">Nombre de la mascota
            </label>
            <input
              class="flex h-10 w-full  border border-[var(--color-3)] bg-[#F9FAFB] dark:bg-[#4C566A] text-[#5C492C] dark:text-[#DDBEA9] px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="nombre" formControlName="nombre" placeholder="Ingresa el nombre de tu mascota">
          </div>
          <div class="grid gap-2"><label
              class="text-[#5C492C] dark:text-[#DDBEA9] text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="raza">Raza</label>
            <select formControlName="raza" id="raza"
              class="border border-[var(--color-3)] bg-[#F9FAFB] dark:bg-[#4C566A] text-[#5C492C] dark:text-[#DDBEA9] px-3 py-2 text-sm">
              <option value="">Seleccione</option>
              @for (raza of razas; track $index) {
              <option [value]="raza">{{raza}}</option>

              }
            </select>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="grid gap-2">
            <label class="text-[#5C492C] dark:text-[#DDBEA9] text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="sexo">Sexo mascota</label>
            <select formControlName="sexo" id="sexo"
              class="border border-[var(--color-3)] bg-[#F9FAFB] dark:bg-[#4C566A] text-[#5C492C] dark:text-[#DDBEA9]  px-3 py-2 text-sm">
              <option value="">Seleccione</option>
              @for (sexo of sexoMascota; track $index) {
              <option [value]="sexo">{{sexo}}</option>

              }
            </select>

          </div>
          <div class="grid gap-2"><label
              class="text-[#5C492C] dark:text-[#DDBEA9] text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="edad">Edad Mascota</label>
            <select formControlName="edad" id="edad"
              class="border border-[var(--color-3)] bg-[#F9FAFB] dark:bg-[#4C566A] text-[#5C492C] dark:text-[#DDBEA9] px-3 py-2 text-sm">
              <option value="">Seleccione</option>
              @for (edad of edades; track $index) {
              <option [value]="edad.age">{{edad.description}}</option>

              }
            </select>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="grid gap-2"><label
              class="text-[#5C492C] dark:text-[#DDBEA9] text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="tamano">Tamaño</label>
            <select formControlName="tamano" id="tamano"
              class="border border-[var(--color-3)] bg-[#F9FAFB] dark:bg-[#4C566A] text-[#5C492C] dark:text-[#DDBEA9] px-3 py-2 text-sm">
              <option value="">Seleccione</option>
              @for (tamano of tamanoMascota; track $index) {
              <option [value]="tamano">{{tamano}}</option>

              }
            </select>

          </div>
          <div class="grid gap-2">
            <label class="text-[#5C492C] dark:text-[#DDBEA9] text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="esEsterilizado">Es esterilizado?</label>

            <input
              class="h-4 w-4 shrink-0 rounded-sm border border-[var(--color-3)] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
              id="esEsterilizado" formControlName="esEsterilizado" type="checkbox">
          </div>
        </div>
        <div class="grid gap-2"><label
            class="text-[#5C492C] dark:text-[#DDBEA9] text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="historia">Historia corta</label><textarea
            class="flex min-h-[80px] w-full  border border-[var(--color-3)] bg-[#F9FAFB] dark:bg-[#4C566A] text-[#5C492C] dark:text-[#DDBEA9] px-3 py-2 text-sm ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="historia" formControlName="historia" rows="3"
            placeholder="Ingresa una corta historia de tu mascota"></textarea></div>
        <div class="grid gap-2"><label
            class="text-[#5C492C] dark:text-[#DDBEA9] text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="caracteristica">Características de la mascota</label>
          <textarea
            class="bg-[#F9FAFB] dark:bg-[#4C566A] text-[#5C492C] dark:text-[#DDBEA9] flex min-h-[80px] w-full  border border-[var(--color-3)] px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="caracteristica" formControlName="caracteristica" rows="3"
            placeholder="Ingresa características como cariñoso, alegre, inquieto"></textarea>
        </div>
        <div class="grid gap-2">
          <label class="text-[#5C492C] dark:text-[#DDBEA9] text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="condicion">Condición</label>
            <textarea
            class="bg-[#F9FAFB] dark:bg-[#4C566A] text-[#5C492C] dark:text-[#DDBEA9] flex min-h-[80px] w-full  border border-[var(--color-3)] px-3 py-2 text-sm  focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="condicion" formControlName="condicion" rows="3"
            placeholder="Ingrese la condición de la mascota"></textarea>
        </div>
      </form>
    </div>
    <div class="items-center p-6 flex justify-end">
      <button
        class="ext-white bg-lime-600 dark:bg-blue-300 hover:bg-lime-500 dark:hover:bg-blue-400 inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 b h-10 px-4 py-2"
        type="submit" (click)="onSubmit()">
        {{ isEditMode ? 'Actualizar mascota' : 'Registrar mascota' }}
      </button>
    </div>
  </div>
</div>
